.page-head {

    @include relative();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 260px;
    &.big {

        height: 600px;
        @include device(from-mobile) { height: auto; }
    }
    .cover {

        z-index: 20;
        background-color: rgba($black, 0.2);
    }
    .slideshow {

        width: 100%;
        height: 100%;
        img {

            @include absolute(top 50%);
            display: block;
            width: 100%;
            opacity: 0;
            @include prefix(transform, translateY(-50%));
            @include prefix(transition, all 0.4s ease-in-out);
            @include device(tablet) {
                
                left: 50%;
                width: auto;
                max-width: unset;
                height: 100%;
                @include prefix(transform, translate(-50%,-50%));
            }
            @include device(from-mobile) {

                width: 100%;
                height: auto;
                top: 0;
                @include prefix(transform, translateY(0%));
            }
        }
        input[type="radio"]:checked + img {
            position: relative;
            opacity: 1;
        }
        .slide-point {

            @include absolute(bottom 6px);
            z-index: 20;
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            label {

                display: inline-block;
                width: 13px;
                height: 13px;
                margin: 0px 3px;
                border-radius: 100%;
                background-color: $gray2;
                cursor: pointer;
                @include prefix(transition, all 0.4s ease-in-out);
                &:hover,
                &.checked {

                    background-color: $l_blue;
                    border: solid 2px $white;
                }
            }
        }
    }
}
